
/* footer for all pages*/
footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #576c6e;
    color: aliceblue;
    overflow: hidden;
    text-decoration: none;  
}
