.buttons{
  display: flex;
  gap: 150px;   
}
.button-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;
}


#level1, #level2, #level3, #reset {
  padding: 15px 25px;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
}

h1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 2.5rem;
}