.playButton{
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0;
    
}

#play{
  padding: 15px 25px;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
  border: 2px solid #333;
  border-radius: 10px;
  cursor: pointer;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

.rules-list{
    column-count: 2;
    column-gap: 25%;
    margin-left: 25%;
    margin-right: 25%;
}

.rules-list li{

    margin: 10px 0;

}

.rules{
    
    margin-left: 5%;
    margin-right: 5%;
    font-size: 24px;
    text-align: center;
    
}

.rules h2{
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
    
}
.rules button{
    background-color: #767976; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 40px auto 100px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 100px;
    display: block;
    
}

video{
    width: 70%;
    margin: 30px auto;
    display: block;
}